* {
  border: 1px solid black; 
  font-size:20px;
  color:grey
 }

body {
  background-color:grey;
  font-size: 24px;
  line-height: 32px;
  color: #333;
  width: 960px;
  margin:0px auto;
}
.box{
background-color:white;
    margin-bottom: 10px;
    padding: 20px;
    margin-top:10px;
  }
#nav{
    margin-bottom: 10px;
    margin:5px;
  }
section{
  background-color:white;
  width:49%;
  float:left;
  height:100%;
  margin-bottom: 20px;
}
aside{
  background-color:white;
float:right;
width:49%;
height:100%;
margin-bottom: 20px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
 }
 .section{
   height:300px;
   text-align: center; 
   }
article{
  background-color: grey;
  margin:10px;
  border:20px;
  height:230px;
  color:white;
}
h3{
  background-color:white;
  margin:10px;
  height:36%;
}
p{
  background-color:white;
  margin:10px;
  height:36%;
}

footer{
  margin-top: 50px;
}
